<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
	
		<title>Blank Template</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<div id="container">
			<header>
				<div class=" header box"></div>
			</header> 
			
			<section></section>	
			<div class="section box"></div>
			<div class="section box"></div>
			<div class="section box"></div>
			<section></section>
			<footer>
			<div class="footer box"></div>
			
			</footer>
		</div><!-- #container --> 
	</body>
</html>